<%= form_for(@submittal) do |f| %>
  <% if @submittal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submittal.errors.count, "error") %> prohibited this submittal from being saved:</h2>

      <ul>
      <% @submittal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :req %><br>
    <%= f.number_field :req %>
  </div>
  <div class="field">
    <%= f.label :firstName %><br>
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :lastName %><br>
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <!--<div class="field">
    <%= f.label :BR %><br>
    <%= f.text_field :BR %>
  </div>
  <div class="field">
    <%= f.label :PR %><br>
    <%= f.text_field :PR %>
  </div>-->
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :submitter %><br>
    <%= f.text_field :submitter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
