<div class="conainer-fluid formCenter">

<%= form_for(@submittal) do |f| %>
  <% if @submittal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submittal.errors.count, "error") %> prohibited this submittal from being saved:</h2>

      <ul>
      <% @submittal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="container-fluid showDiv">
  <table class="subFormInput">
    <tr class="subFormRow">
      <td class="subFormDs" colspan="2"><%= f.label :req %></td>
    </tr>
    <tr class="subFormRow">
      <td class="subFormDs" colspan="2"><%= f.number_field :req, :size => 5, :maxlength => 5 %></td>
    </tr>
    <tr class="subFormRow">
      <td class="subFormTitles"><%= f.label :firstName %></td>
      <td class="subFormTitles"><%= f.label :lastName %></td>
    </tr>
    <tr class="subFormRow">
      <td class="subFormDs"><%= f.text_field :firstName %></td>
      <td class="subFormDs"><%= f.text_field :lastName %></td>
    </tr>
    <tr class="subFormRow">
      <td class="subFormTitles"><%= f.label :date %><br></td>
      <td class="subFormTitles"><%= f.label :location %></td>
    </tr>
    <tr class="subFormRow">
      <td class="subFormDs"><%= f.date_select :date %><br></td>
      <td class="subFormDs"><%= f.text_field :location %></td>
    </tr>
    <tr class="subFormRow">
      <td class="subFormTitles"><%= f.label :submitter %><br></td>
      <td class="subFormTitles"><%= f.label :status %></td>
    </tr>
    <tr class="subFormRow">
      <td class="subFormDs"><%= f.text_field :submitter %><br></td>
      <td class="subFormDs"><%= f.text_field :status %></td>
    </tr>
    <tr class="subFormRow">
      <td class="subFormDs subFormButton" id="turnBlack" colspan="2"><%= f.submit %></td>
    </tr>
    <tr class="subFormRow subFormRowBack">
      <td colspan="2" class="subFormBackTd"><a class="subFormBackA" href="/submittals">Back</a></td>
    </tr>
  </table>
  
</div>
<% end %>