<p id="notice"><%= notice %></p>

<div class="container-fluid showDiv">
  <table class="showTable">
    <tr class="showRow">
      <td colspan="2" class="showD"><%= @submittal.firstName.capitalize %> <%= @submittal.lastName.capitalize %></td>
    </tr>
    <tr class="showRow">
      <td class="showD">Req: CSPJP000<%= @submittal.req %></td>
      <td class="showD">Date: <%= @submittal.date %></td>
    </tr>
    <tr class="showRow">
      <td class="showD">Location: <%= @submittal.location.upcase %></td>
      <td class="showD">Status: <%= @submittal.status.capitalize.capitalize %></td>
    </tr>
    <tr class="showRow">
      <td colspan="2" class="showD">Submitted By: <%= @submittal.submitter.capitalize %></td>
    </tr>
    <tr class="optionsShow">
      <td class="optionsD"><%= link_to 'Edit', edit_submittal_path(@submittal) %></td>
      <td class="optionsD"><%= link_to 'Back', submittals_path %></td>
    </tr>
  </table>
</div>
